@page "/"
@inject UserService UserService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@foreach (var user in users!)
{
    <p>@user.Login     @user.Email</p>
}

<MudText Align="Align.Center">Welcome to your new app.</MudText>

@code {
    private IEnumerable<User>? users;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        users = UserService.Take(10);
    }
}