.assign-user-panel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.assign-user-panel-parameters-block {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
