@page "/projects"

@using BuisnessLogicLayer.Projects
@using BuisnessLogicLayer.Users
@using PresentationLayer.Blazor.Models

@inherits ProjectsModel

<div class="top-buttons">
    <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled" Size="Size.Large">
        <MudButton OnClick="RefreshProjectsListAsync" StartIcon="@Icons.Filled.Refresh">
            Refresh
        </MudButton>
        <MudButton OnClick="AddProjectAsync" StartIcon="@Icons.Filled.Add">
            Create
        </MudButton>
    </MudButtonGroup>
</div>

<div class="project-cards-container">
    @if (CurrentUserId > 0 && Projects != null)
    {
        foreach (var project in Projects)
        {
            <ProjectCard Project="project"
                 OnProjectDeleted="RefreshProjectsListAsync"
                 OnProjectUpdated="RefreshProjectsListAsync"/>
        }
    }
</div>
