@using BuisnessLogicLayer.Users

@inherits ProjectCardModel

<RoleOnProjectView UserRoleOnProject="CurrentUserRole">
    <div class="project-card-container">
        <MudCard Elevation="5">
            <MudCardHeader>
                <MudText Typo="Typo.h5">@(Project?.Name ?? "Empty project")</MudText>
            </MudCardHeader>
            <MudCardContent>
                @Project?.Description
            </MudCardContent>
            <MudCardActions>
                <div class="project-card-actions">
                    <div>
                        <LimitedAccessView RolesWithAccess="RolesCapableDelete">
                            <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Error"
                                       OnClick="OnDeleteClickAsync">
                                Delete
                            </MudButton>
                        </LimitedAccessView>
                        <LimitedAccessView RolesWithAccess="RolesCapableUpdate">
                            <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary"
                                       OnClick="OnUpdateClickAsync">
                                Update
                            </MudButton>
                        </LimitedAccessView>
                    </div>
                    <div>
                        <MudButton OnClick="OnUsersClick">
                            <MudAvatarGroup Max="3" MaxColor="Color.Primary" MaxSize="Size.Medium" Spacing="4">
                                @if (ProjectUsers != null)
                                {
                                    foreach (var user in ProjectUsers)
                                    {
                                        <MudAvatar Color="Color.Primary" Size="Size.Medium" Image="@user.PictureUrl">
                                            @GetFirstLetter(user.Login)
                                        </MudAvatar>
                                    }
                                }
                            </MudAvatarGroup>
                        </MudButton>
                    </div>
                    <div>
                        <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary">
                            Open
                        </MudButton>
                    </div>
                </div>
            </MudCardActions>
        </MudCard>
    </div>
</RoleOnProjectView>
