.project-card-container {
    width: 100%;
    max-width: 478px;
    margin: 7px;
}

.project-card-actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}