@inject NavigationManager Navigation

<div class="bottom-bar justify-space-evenly">
    <nav class="nav-link">
        <NavLink href="projects">
            <MudIcon Icon="@Icons.Filled.Work" Size="Size.Large" /> 
            Projects
        </NavLink>
        <NavLink href="dashboard">
            <MudIcon Icon="@Icons.Filled.SpaceDashboard" Size="Size.Large" /> 
            Dashboard
        </NavLink>
        <NavLink href="tasks">
            <MudIcon Icon="@Icons.Filled.Checklist" Size="Size.Large" /> 
            Tasks
        </NavLink>
    </nav>
</div>

@code{
    
}