.main-content {
    max-width: 1000px;
    height: 100%;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 641px) {
    .main-content {
        margin-bottom: 7em;
    }
}
