@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />

<PageTitle>ControlOfWork</PageTitle>

<AuthorizeView>
    <Authorized>
        <TopBar />
        <MudMainContent>
            <div class="main-content">
                @Body
            </div>
        </MudMainContent>
        <BottomBar />
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorizing>
        <MudText Typo="Typo.h4" Align="Align.Center">Authorizing...</MudText>
    </Authorizing>
</AuthorizeView>
